*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.monsterListComponent{
    height: 70%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.cardComponent{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    margin: 0 20px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .cardComponent:hover {
    transform: scale(1.05);
    border-radius: 15px;
  }
  