*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(
    to right,
    rgb(61, 77, 136) 30%,
    rgb(16, 16, 62) 70%
  );
  text-align: center;   
}
.App{
  height: auto;
  width: 100vw;
}
.title{
  margin-top: 30px;
  text-align: center;
  color: aqua;
  font-family: 'Bigelow Rules', cursive;
  font-size: 70px;
  height: 15%;
} 